<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
        <footer class="footer text-center"> 2023 © Parimal brought to you by 
            <a href="/">wrappixel.com</a>
        </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->